.*.sw?
exp01/messages.pb.*
exp01/server
exp01/client
hwserver
hwclient
echo_server
wuserver
wuclient
taskvent
taskwork
tasksink
mspoller
rrbroker
rrclient
rrworker
tasksink2
taskwork2
mtserver
mtrelay
syncpub
syncsub
